body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

header.not-scrolled {
  background: rgb(255, 255, 255) none repeat scroll 0% 0% !important;
  height: 80px !important;
  width: 100% !important;
  left: 0 !important;
  z-index: 100 !important;
  position: absolute !important;
  transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.65, 1) 0s !important;
}

header.scrolled {
  background: rgb(255, 255, 255) none repeat scroll 0% 0% !important;
  height: 80px !important;
  width: 100% !important;
  left: 0 !important;
  z-index: 100 !important;
  position: fixed !important;
  top: 0px !important;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 8px !important;
  transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.65, 1) 0s !important;
}

.header-wrapper {
  padding-left: 20px !important;
  padding-right: 20px !important;
  max-width: 1200px;
  align-items: center !important;
  display: flex !important;
  flex-direction: row !important;
  height: 100% !important;
  margin: 0px auto !important;
  position: relative !important;
  width: 100% !important;
  z-index: 1 !important;
}

a.logo-wrapper {
  -moz-box-align: center !important;
  outline: currentcolor none medium !important;
  align-items: center !important;
  display: flex !important;
  height: 80px !important;
  position: relative !important;
  z-index: 1 !important;
}

#nav-spacer {
  flex: 1 1 auto !important;
  min-width: 0px !important;
  padding: 0px 24px !important;
  text-align: center !important;
}

#nav-icons {
  -moz-box-pack: end !important;
  -moz-box-align: center !important;
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
  height: 80px !important;
}

.logo-wrapper {
  height: 80px !important;
}

.nav-icon {
  -moz-appearance: none !important;
  background: transparent none repeat scroll 0% 0% !important;
  border: 0px none !important;
  border-radius: 20px;
  cursor: pointer !important;
  display: inline-block !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 18px !important;
  margin: 0px !important;
  outline: currentcolor none medium !important;
  overflow: visible !important;
  padding: 12px !important;
  text-align: inherit !important;
  text-decoration: none !important;
  user-select: auto !important;
  position: relative !important;
  z-index: 1 !important;
  color: rgb(34, 34, 34) !important;
  transition: 0.5s;
}

.nav-icon:hover {
  background: rgba(235, 235, 235, 0.575) !important;
}

.nav-icon-text {
  -moz-box-align: center !important;
  align-items: center !important;
  display: flex !important;
  height: 100% !important;
  position: relative !important;
  z-index: 1 !important;
}

.spacer {
  height: 80px !important;
  margin-bottom: 40px !important;
}

.login-wrapper {
  width: 100%;
  padding-top: 10vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
}

.login-form {
  width: 400px;
  height: 50vh;
  -webkit-box-shadow: 0px 22px 23px 0px #0d0d0d;
  -moz-box-shadow: 0px 22px 23px 0px #0d0d0d;
  box-shadow: 0px 22px 23px 0px #0d0d0d;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border: 3px solid #cccccc;
  padding: 10px 5px;
}

.login-pusher {
  max-width: calc(100% - 460px);
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: middle;
  height: 50vh;
}

.login-pusher > img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 50%;
}

.title-wrapper {
  margin-top: 10%;
  text-align: center;
  margin-bottom: 30px;
}

.login-form-title {
  font-weight: 500;
  font-size: 25px;
}

.input-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 80%;
  height: 40px;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: border 0.4s ease-in-out;
}

input {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  background: 0 0;
  font-size: 18px;
  color: #555;
  line-height: 1.2;
  padding: 0 26px;
  border: none;
}

input-wrapper:hover {
  transition: border 0.4s ease-in-out !important;
  border: 2px solid rgb(5, 155, 212) !important;
}

.input-label {
  font-size: 18px;
  color: #999;
  line-height: 1.2;
  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  padding-left: 24px;
  left: 0;
  top: 30px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login-btn-wrapper {
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.login-btn {
  cursor: pointer !important;
  display: inline-block !important;
  margin: 0px !important;
  position: relative !important;
  text-align: center !important;
  text-decoration: none !important;
  width: 100% !important;
  font-size: 16px !important;
  line-height: 18px !important;
  font-weight: 500 !important;
  border-radius: 8px !important;
  outline: currentcolor none medium !important;
  padding: 14px 24px !important;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    transform 0.1s ease 0s, transform 0.1s ease 0s !important;
  border: medium none !important;
  background: rgb(5, 155, 212) repeat scroll 0% 0% !important;
  color: rgb(255, 255, 255) !important;
  white-space: nowrap !important;
}

.smalltext-wrapper {
  padding-top: 10%;
  text-align: center !important;
  font-size: 13px;
  line-height: 1.4;
}

.error-text-wrapper {
  padding-bottom: 5%;
  text-align: center !important;
  font-size: 13px;
  line-height: 1.4;
}

.error-text {
  font-size: 13px;
  line-height: 1.4;
  color: rgb(204, 46, 46);
}

.smalltext {
  font-size: 13px;
  line-height: 1.4;
  color: #999;
}

.smalltext:hover {
  color: #000000;
}
